absl-py==0.11.0
aniso8601==9.0.1
attrs==21.4.0
blinker==1.4
boto3==1.21.45
botocore==1.24.45
certifi==2021.10.8
chardet==3.0.4
charset-normalizer==2.0.12
click==8.1.2
EbookLib==0.17.1
epub2txt==0.1.1
Flask==2.1.1
Flask-Cors==3.0.10
flask-restx==0.5.1
googletrans==3.0.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2022.7.10
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
importlib-metadata==4.12.0
itsdangerous==2.1.2
Jinja2==3.1.1
jmespath==1.0.0
joblib==1.1.0
jsonschema==4.4.0
logzero==1.7.0
lxml==4.9.1
MarkupSafe==2.1.1
mongoengine==0.24.1
nltk==3.7
Pillow==9.1.0
PyJWT==2.3.0
pymongo==4.1.1
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2022.1
regex==2022.7.9
requests==2.28.1
rfc3986==1.5.0
s3transfer==0.5.2
six==1.16.0
sniffio==1.2.0
tqdm==4.64.0
urllib3==1.26.9
Werkzeug==2.1.1
zipp==3.8.0
